extends ../signLayout

block content
	article#sign.sign-editor
		//section(v-for="obj in signForm")

		section(v-for="obj,i in signForm",v-bind:class='["section-type-"+obj.type +" "+(obj.is_edit?"c":"")]',v-if="obj.type!=20")
			input.sign-txt(v-if="obj.type==1",v-bind:placeholder="obj.context?obj.context:(obj.name?'请输入'+obj.name:'未设置，点击以进行编辑')",v-model:value="obj.value")
			textarea.sign-area(v-if="obj.type==2",v-bind:placeholder="obj.context?obj.name+''+obj.context:'请输入'+obj.name",v-model:value="obj.value")
			select.sign-select(v-if="obj.type==3",v-bind:placeholder="obj.context",v-model="obj.value")
				option(disabled,value="",checked="checked",v-bind:value="obj.value") 请选择{{obj.name}}
				option(v-for="opt,j in obj.option.split(',')",v-bind:value="opt") {{opt}}
			aside(v-on:click="show_editor(obj,i)")
			// aside
			// 	a.sign-del 删除
			// 	a.sign-edt 编辑
			//input.sign-txt(v-bind:placeholder="obj.context?obj.context:'未设置，点击编辑按钮进行编辑'")
		button.add-signform(v-on:click="signForm.push({})") +添加新项

		.sign-editor-menu(v-bind:style="{'-webkit-transform':edit_index>-1?'translate(0)':''}")
			h5 编辑表单
			i(v-if="edit_index>-1",v-on:click="cancelChoose") 收起 >
			ul
				li
					input(type="text",placeholder="请输入名称(如:姓名)")
					//p 如：姓名
				li
					input(type="text",placeholder="请输入描述(如:请输入姓名)")
					//p 如:请输入姓名
				li
					select
						option(value='-1') 请选择类型
						option(value="1")


block footer
	script  var signData=JSON.parse('!{JSON.stringify(data)}');
	script(src="/js/signEditor.js?v=#{_v}")
