doctype html
html
  head
    title= title
    meta(name="viewport",content="width=device-width")
    script(src="/js/vue.js")
    script(src="https://unpkg.com/vue-router/dist/vue-router.js")
  body
    block content
