* {
  padding: 0px;margin:0;
}

button,input[text],input[button],select{-webkit-appearance:none;}

* {
  color: #333;font-size:0.14rem;
}

header{
	text-align: center;	line-height: 0.45rem;font-size:0.16rem;border-bottom:0.01rem solid #CCC;
}